<header class="navbar">
  <nav>
    <a href="/" class="logo">Mi Aplicación</a>
    <ul class="nav-links">
      <li><a href="/">Inicio</a></li>
      <li><a href="/about">Sobre mi</a></li>
      <li><a href="/contact">Contacto</a></li>
    </ul>
  </nav>
</header>
