<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title || 'Mi Aplicación' %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <!-- Barra de navegación -->
  <%- include('../partials/navbar') %>


  <main class="main-content">
    <%- body %>
  </main>

  <!-- Pie de página -->
  <%- include('../partials/footer') %>
</body>
</html>
