<main>
  <section class="about-us">
    <h2>Hola soy Virginia!</h2>
    <p>
      Desarrolladora web en formación. Estoy cursando la Diplomatura Universitaria en Desarrollo Web Full Stack con 
      JavaScript, donde descubrí un espacio de aprendizaje y crecimiento profesional que me ha transformado por completo.
    </p>
    <p>
      A través de los módulos de diseño web, programación con JavaScript, desarrollo backend con Node.js 
      pude adquirir las competencias necesarias para dar vida a mis ideas 
      y construir aplicaciones web escalables.
    </p>
    <p>
      El Nodo Tecnológico es mucho más que una institución educativa. Es un puente que conecta a los 
      jóvenes con las últimas tendencias tecnológicas y los prepara para enfrentar los desafíos del 
      futuro. Agradezco a esta comunidad por brindarme la oportunidad de aprender, crecer y contribuir 
      al desarrollo tecnológico de nuestra provincia.
    </p>
    <p>
      <strong>¿Quieres formar parte de esta comunidad?</strong> ¡Comienza tu aprendizaje en el Nodo Tecnológico!
    </p>
  </section>
</main>