<main>
    <!-- Descripción principal -->
    <section>
        <h2>Bienvenido al índice de Superhéroes</h2>
        <p>Gestiona superhéroes, sus habilidades y más.</p>
    </section>

    <!-- Opciones para superhéroes -->
    <div class="special-buttons">
        <a href="/heroes/new" class="btn-blue">Agregar Superhéroe</a></li>
        <a href="/heroes/list" class="btn-blue">Ver Todos</a></li>
    </div>

</main>
