@tailwind base;
@tailwind components;
@tailwind utilities;


/* Establece los estilos globales para el fondo oscuro y el texto blanco */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #112102; /* Fondo oscuro */
  color: white;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

h1, h2, h3 {
  font-family: 'Arial', sans-serif;
  color: #f8be00; /* Amarillo brillante para los encabezados */
}

button {
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

button:hover {
  opacity: 0.8;
}
