<main>
  <h1>Contacto</h1>
  <p>
    <section class="contact-info">
      <p>Av. Güemes, Av. Virgen del Valle &, San Fernando del Valle de Catamarca, Catamarca</p>
      <h2>¿Prefieres comunicarte por teléfono?</h2>
      <p>Teléfono: +54 383 401-0567</p>
    </section>
  </p>
</main>